.desc-game {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: space-around;
}

// .speedometer {
//   background-color: red;
//   box-sizing: border-box;
//   background: url('../img/Spd-scale.jpg') no-repeat 50% 50%;
//   width: 70%;
//   height: 60vh;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   background-size: contain;
//   animation: spd 5s linear 1;
// }

// @keyframes spd {
//   0% {
//     transform: rotate(0deg);
//   }
// }

.body {
  align-items: center;
}

.player-data {
  width: 30%;
  text-align: center;
  span {
    display: block;
  }
}
.card {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background-color: red;
    margin-top: 10px;
    padding: 30px;
    border-radius: 50%;
  }
}
