body {
  margin: 0;
  padding: 0;
}
.container {
  min-width: 320px;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden;
  button {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
  }
  input {
    padding: 5px;
    border-radius: 5px;
  }
}
